.paymentStatusRed{
    background: #f93e3e57;
    padding: 5px 10px;
    border-radius: 30px;
    color: #f93e3e;
    display: initial;
    min-height: 20px;
    text-transform: capitalize;
    min-width: 70px;
    text-align: center;
    font-weight: 800 !important;
}

.paymentStatusOrange{
    background: #fc843435;
    padding: 5px 10px;
    border-radius: 30px;
    color: #FC8434;
    display: initial;
    min-height: 20px;
    text-transform: capitalize;
    min-width: 70px;
    text-align: center;
    font-weight: 800 !important;
}

.paymentStatusGreen{
    background: #0da61720;
    padding: 5px 10px;
    border-radius: 30px;
    color: #0DA616;
    display: initial;
    min-height: 20px;
    text-transform: capitalize;
    min-width: 70px;
    text-align: center;
    font-weight: 800 !important;
}

.shareIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #2B6FED;
    border-radius: 100px;
    cursor: pointer;
}

.selectFYBox select{
    padding-left: 15px !important;
    font-size: 15px;
    min-width: 80px;
}