.card {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-radius: 15px;
  box-shadow: 2px 0px 10px #5c66ad3b;
  margin-bottom: 0;

  .card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .status {
      color: #fc8434;
      font-weight: 400;
      background-color: #fff1ceb0;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 15px;
    }
  }

  .status {
    color: #fc8434;
    font-weight: 400;
    background-color: #fff1ceb0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 15px;
    margin-left: 1rem;
    width: fit-content;
  }
}

.card-content {
  width: 100%;
  display: flex;
  padding: 1rem;

  img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    // margin-right: 1rem;
  }

  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sub-title {
    color: #181d257a;
  }
}

.diloag-wrapper {
  padding: 2rem;
}

.MuiDialogActions-root {
  flex-direction: column;
}

.auth-container {
  padding: 0.5rem;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .auth-container .auth-cols:nth-child(2) {
    display: none;
  }
}

.sorting-header {
  display: flex;
  gap: 15px;
}

.customSelect .MuiOutlinedInput-root {
  padding-left: 15px;
}

.details {
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.text-bold {
  font-weight: bold;
  font-size: 1.25rem;
}

.fam {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.fam-label {
  color: #8c8e92;
  margin-top: 0.5rem;
}

.fam-value {
  font-weight: bold;
}

.MuiSelect-outlined.MuiSelect-outlined {
  background: #f9f9f9;
  border-radius: 25px;
  border: 1px solid #e9dede;
}

.formGroup1 {
  .MuiSelect-outlined.MuiSelect-outlined {
    background: #f9f9f9;
    border-radius: 25px;
    border: none;
  }
}

.inputbox {
  width: 90%;
  border: 0;
  height: 2rem;
}

.danger {
  white-space: nowrap !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #fc3e34 !important;
  border-radius: 30px !important;
  padding: 5px 15px !important;
  box-shadow: none !important;
  background-color: #ffeded !important;
}
