.card {
  margin-top: 1rem;
  border: 1px solid #181d251a;
  padding: 0.5rem;
  border-radius: 15px;

  .status {
    color: #fc8434;
    font-weight: 600;
  }
}

.card-content {
  width: 100%;
  display: flex;
  padding: 1rem;
  img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    // margin-right: 1rem;
  }

  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sub-title {
    color: #181d257a;
    margin-top: 0.25rem;
  }
}
