.card {
  margin-top: 1rem;
  border: 1px solid #181d251a;
  padding: 0.5rem;
  border-radius: 15px;

  .card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .status {
      color: #FC8434;
      font-weight: 400;
      background-color: #fff1ceb0;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 15px;
    }
  }

  .status {
    color: #FC8434;
    font-weight: 600;
  }
}

.card-content {
  width: 100%;
  display: flex;


  padding: 1rem;


  img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin-right: 1rem;
  }

  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sub-title {
    color: #181d257a;
    margin-top: 0.25rem;
  }
}

.diloag-wrapper {
  padding: 2rem;
}

.MuiDialogActions-root {
  flex-direction: column;
}
