@import "../constants/base/colors.scss";
@import "../constants/base/global.scss";
.card {
  // &.incident-card {
  &.MuiCard-root {
    box-shadow: 4px 0px 14px 0 #ececec;
    border-radius: 15px;
    & h4 {
      font-size: 1.1rem;
      font-weight: bold;
      color: #181d25;
      margin-bottom: 5px;
    }
    & .sub-title {
      margin-top: 5px;
      font-weight: 300;
    }
    & span {
      font-size: 1rem;
      color: #8c8e92;
      margin-bottom: 10px;
    }
    & hr {
      border: 1px solid #ececec;
    }
  }
  & .MuiCardActions-root {
    padding: 0;
    padding-top: 5px;
    &.card-footer {
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      & .sub-title {
        margin: 0;
      }
      & .MuiButtonBase-root {
        & span {
          margin: 0;
        }
      }
      & .customButton {
        margin-bottom: 0;
        padding-top: 0;
      }
    }
  }
  & .card-img-row {
    // display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 10px;
    & .card-img {
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 10px;
      // margin-right: 5px;
    }
  }
  margin-bottom: 25px;
  &.reporting-card {
    & .reporting-row {
      display: flex;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      & .icons {
        height: 30px;
        width: 30px;
        object-fit: contain;
      }
      & .reporting-right-block {
        flex-direction: column;
        margin-left: 10px;
        & h5 {
          margin-bottom: 5px;
        }
        
      }
      
    }
  }
  
}
