@import "../constants/base/colors.scss";
@import "../constants/base/global.scss";

.commonForm {
    & .formCheckbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .MuiSvgIcon-root {
            fill: $ORANGE;
        }
        & .checkboxLabel {
            font-size: 13px;
            color: $DARK;
            font-family: $Gotham_Light;
            font-weight: bold;
        }
        & .link {
            padding-left: 10px;
            font-family: $Gotham_Medium;
        }
    }
}
