@import "../constants/base/colors.scss";
@import "../constants/base/global.scss";
// .dialog-wrapper {
.diloag-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .MuiDialogTitle-root {
    padding: 16px 0;
  }
  .diloag-header {
    padding-bottom: 20px;
    text-align: center;
    & .tenet-logo {
      height: 60px;
      width: 60px;
      object-fit: contain;
    }
    & p {
      padding-top: 10px;
    }
    & .alert-dialog-title {
      & h2 {
        font-size: 24px;
        line-height: 25px;
        font-weight: bold;
      }
    }
    & .incident-dialog-video,
    & .incident-dialog-photo {
      height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .dialog-footer {
    // padding-top: 20px;
    & .MuiDialogActions-root {
      flex-direction: column;
      justify-content: center;
    }
    & button {
      margin-bottom: 10px;
    }
  }
}
.provider-dialouge-body {
  min-width: 600px;
  & .dialouge-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  & .MuiDialogTitle-root {
    padding: 0;
  }
  & .alert-dialog-title {
    font-weight: bold;
  }
  & .close-icon {
    height: 30px;
    width: 30px;
    object-fit: contain;
  }
  & .diloag-content {
    padding: 15px;
    & .customSelect {
      margin-bottom: 15px;
    }
  }
  & .MuiOutlinedInput-input {
    padding: 10px 32px 10px 14px;
  }
  & .customSelect {
    margin-right: 10px;
    margin-bottom: 0;
    & .MuiOutlinedInput-root {
      padding-left: 0;
      background-color: $WHITE;
    }
  }
  & .customButton {
    display: flex;
    justify-content: flex-end;
    & .MuiButton-root {
      padding: 10px 20px;
      width: auto;
      margin-left: 10px;
    }
  }
}
