@import "../constants/base/colors.scss";
@import "../constants/base/global.scss";

.commonForm {
  width: 100%;
  @include mq(tablet-portrait-large-up) {
    width: auto;
  }
  & .frm-icons {
    // height: 24px;
    // width: 24px;
    object-fit: contain;
  }
  & .frm-title {
    font-weight: 600;
    margin-bottom: 20px;
  }

  &.CreateClassifiedFrm {
    & .classifiedFormGroup {
      width: auto;
      margin-right: 5px;
    }
    & .MuiInputAdornment-positionStart {
      // width: auto;
      // margin-right: 5px;
    }
  }

  & .formGroup {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    & .formInputGrp {
      position: relative;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    & .formInput {
      width: 100%;
      padding: 18px 18px 18px 50px;
      color: #b5b5b5;
      border-radius: 25px;
      border: 1px solid #e9dede;
      background-color: #f9f9f9;
      font-size: 16px;
      outline: 0;

      &::placeholder {
        color: #b9b9b9;
      }
    }

    & .otpInputGrp {
      display: flex;
      justify-content: center;
    }
    &.otpBlock {
      & > div {
        justify-content: space-between;
        width: 100%;
      }

      & .formOutlineInput {
        & input {
          width: 10%;
          padding: 10px 0;
          color: $DARK;
          border: 0;
          outline: 0;
          font-size: 28px;
          font-weight: 500;
          margin: 0 10px;
          border-bottom: 2px solid $DARK;
          text-align: center;
        }
      }
    }
    & .frmLeftIcons {
      position: absolute;
      left: 20px;
      top: 16px;
      color: #b9b9b9;
    }
    & .frmrightIcons {
      position: absolute;
      right: 20px;
      top: 14px;
      color: #b9b9b9;
      cursor: pointer;
    }
    & .textfieldLabel {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &.customFileupload {
      & .result-disp-row {
        display: flex;
        align-items: center;
        margin-top: 10px;
        & .successful-icon {
          height: 25px;
          width: 25px;
          object-fit: contain;
        }
        & .error-icon {
          height: 35px;
          width: 35px;
          object-fit: contain;
        }
        & .text-success {
          margin-left: 10px;
          text-transform: capitalize;
        }
      }
      & .MuiButtonBase-root {
        width: 100%;
        // padding: 20px;
        min-height: 100px;
        background-color: #f9f9f9;
        border-radius: 25px;
        border: 2px dashed #e9dede;
        box-shadow: none;
        & .MuiButton-label {
          text-transform: capitalize;
          font-size: 20px;
          color: #b5b5b5;
          position: relative;
          padding-top: 20px;
        }
        & .upload-icon {
          position: absolute;
          top: 0;
          // left: 50%;
        }
      }
    }
    &.textarea {
      // margin-bottom: 0;
      height: 70px;
      background-color: $WHITE;
      // box-shadow: 4px 0px 14px 0 #ececec;
      border: 1px solid #ececec;
      border-radius: 25px;
      padding: 20px 0;
      position: relative;
      & .clipboard-icon {
        position: absolute;
        top: 18px;
        left: 15px;
        z-index: 2;
      }
    }
    & textarea {
      width: 100% !important;
      height: 70px !important;
      background-color: $WHITE;
      border: 0;
      color: $LIGHT_GRAY_SHADE3;
      outline: 0;
      font-size: 15px;
      padding: 0 20px 0 45px;
      font-weight: 600;
      font-family: $Gotham_Light;
      line-height: 17px;
      &::placeholder {
        color: $LIGHT_GRAY_SHADE3;
        font-weight: 500;
        font-family: $Gotham_Light;
      }
    }
  }
}

.desktop-ui {
  & .commonForm {
    @include mq(tablet-portrait-medium-up) {
      & .formGroup {
        border-radius: 15px;
        & .formInput {
          border-radius: $FORM_BORDER_RADIUS;
        }
        &.textarea {
          border-radius: 10px;
        }
      }
    }
  }
}
