@import "../constants/base/colors.scss";
@import "../constants/base/global.scss";

.commonForm {
    width: 100%;
    @include mq(tablet-portrait-large-up) {
        width: auto;
    }
    & .formGroup {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        & .formInputGrp {
            position: relative;
            margin-top: 15px;
        }
        & .formInput {
            width: 100%;
            padding: 18px 18px 18px 50px;
            color: #b5b5b5;
            border-radius: 25px;
            border: 1px solid #f4f4f4;
            background-color: #f9f9f9;
            font-size: 16px;
            &::placeholder {
                color: #b9b9b9;
            }
        }
        & .otpInputGrp
        {
            display: flex;
            justify-content: center;
        }
        & .formOutlineInput {
            width: 10%;
            padding: 10px 0;
            color: $DARK;
            border: 0;
            outline: 0;
            font-size: 28px;
            font-weight: bold;
            margin: 0 10px;
            border-bottom: 2px solid $DARK;
            text-align: center;
        }
        
        & .frmLeftIcons {
            position: absolute;
            left: 20px;
            top: 14px;
            color: #b9b9b9;
        }
        & .frmrightIcons {
            position: absolute;
            right: 20px;
            top: 14px;
            color: #b9b9b9;
            cursor: pointer;
        }
        & .textfieldLabel {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}
