.otp-input-wrapper {
  width: 240px;
  text-align: left;
  display: inline-block;
}

.otp-input-wrapper input {
  padding: 0;
  width: 264px;
  font-size: 32px;
  font-weight: 600;
  color: #3e3e3e;
  background-color: transparent;
  border: 0;
  margin-left: 12px;
  letter-spacing: 48px;
  font-family: sans-serif !important;
}

.otp-input-wrapper input:focus {
  box-shadow: none;
  outline: none;
}

.otp-input-wrapper svg {
  position: relative;
  display: block;
  width: 240px;
  height: 2px;
}

.PrivateNotchedOutline-root-6 {
  border: none !important;
  border-color: transparent !important;
}

.select-type {
  padding: 1rem;

  .middle-section {
    width: 60%;
    color: #D3D3D3;

    .title {
      font-weight: bold;
      margin-bottom: 0.58rem;
      color: #D3D3D3;
    }

    .para {
      color: #D3D3D3;
    }
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

}
