// @import "../../../../web/src/assets/css/constants/base/global.scss";
@import "../../../../web/src/assets/css/constants/base/colors.scss";
@import "../../../../web/src/assets/css/constants/base/mixins.scss";

.otp-input-wrapper {
  width: 240px;
  text-align: left;
  display: inline-block;
}

.otp-input-wrapper input {
  padding: 0;
  width: 264px;
  font-size: 32px;
  font-weight: 600;
  color: #3e3e3e;
  background-color: transparent;
  border: 0;
  margin-left: 12px;
  letter-spacing: 48px;
  font-family: sans-serif !important;
}

.otp-input-wrapper input:focus {
  box-shadow: none;
  outline: none;
}

.otp-input-wrapper svg {
  position: relative;
  display: block;
  width: 240px;
  height: 2px;
}

.PrivateNotchedOutline-root-6 {
  border: none !important;
  border-color: transparent !important;
}
.active-box{
  box-shadow: rgba(149, 157, 165, 0.6) 0px 10px 20px;
}
.select-type {
  padding: 1rem;

  .middle-section {
    width: 60%;
    color: #D3D3D3;

    .title {
      font-weight: bold;
      margin-bottom: 0.58rem;
      color: #A5A3A4;
      font-size: 15px;
    }

    .para {
      color: #D3D3D3;
    }
    .active-para{
      color: rgb(140, 143, 146);
    }
  }
  
 

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

}

.css-yk16xz-control {
  border: none !important;
  background-color: #f9f9f9 !important;
}

.MuiSelect-root {
  display: flex !important;
  align-items: center;
}

.MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.active-type {
  color: #2B6FED !important;
}

.commonForm .formGroup .ReactSelect {
  border: none !important;
}

.formInput1 {
  width: 100%;
  padding: 18px 18px 18px 50px;
  color: #b5b5b5;
  border-radius: 25px;
  border: 1px solid #e9dede;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: 0;
}

.formInput2 {
  width: 100%;
  padding: 18px 18px 18px 50px;
  color: #b5b5b5;
  border-radius: 25px;
  border: 1px solid #e9dede;
  font-size: 16px;
  outline: 0;
}

.commonForm .formGroup .formInput {

  padding: 18px 18px 18px 50px;
  color: #b5b5b5;
  border-radius: 25px;
  border: 1px solid #e9dede;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: 0;
}

.commonForm .formGroup .formInput1 {
  width: 95%;
  padding: 15px 10px 10px 40px;
  color: #b5b5b5;
  border-radius: 25px;
  border: 1px solid #e9dede;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: 0;
}

.right-block {
  padding: 30px 60px;

  .building-logo {
    height: 93vh;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.auth-container {
  height: 100%;

  .auth-cols {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.main-content-block {
  width: 450px;
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {
  .auth-container .auth-cols:nth-child(2) {
    height: auto;
  }
}

input#mobile {
  background-image: url('../../assets/numpad.png');
  background-repeat: no-repeat;
  text-indent: 31px;
}

input#mobile:focus {
  background-image: none;
}

.text {
  color: $ORANGE;
  font-weight: bold;
}

.MuiSelect-outlined.MuiSelect-outlined {
  border: 0 !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
  background: #f9f9f9;
  border-radius: 25px;
  border: 1px solid #e9dede;
}

.formGroup1 {
  .MuiSelect-outlined.MuiSelect-outlined {
    background: #f9f9f9;
    border-radius: 25px;
    border: none;
  }
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  visibility: hidden !important;
}

.alert-dialog-title1 {
  & h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;

    width: auto;
    white-space: break-spaces;
    text-align: center;


  }


}

// .diloag-body .diloag-header {
//   flex-direction: column;
// }

.diloag-body {
  & p {
    text-align: center;
  }
}
.filter {
  &__menu {
    margin: 0.125rem auto;
  }

  &__option {
    background-color: white;

    &--is-focused {
      background-color: lightblue;
    }
  }

  &__group {
    padding: 0;
  }

  &__menu-portal {
    border: 1px solid darkblue;
  }
}
.filter__indicator-separator{
  background-color: transparent !important;
}
.filter__indicators{
  margin-right: 0.3;
}
.hello{
  width: 90%;
    margin-left: 1.1rem;
}