@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,500;1,700&family=Righteous&display=swap" rel="stylesheet');
@import "./constants/base/colors.scss";
@import "./constants/base/";
@import "./content/";

body,
html {
  background-color: $LIGHT_GRAY;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $MONTSERRAT;
  // overflow: hidden;
  @include scrollbars();
  @include mq(tablet-portrait-large-up) {
    background-color: $WHITE;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: $DARK;
  font-family: $MONTSERRAT;
}
h1 {
  color: $DARK;
  font-size: 26px;
  font-weight: 600;
  padding-right: 10px;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
}
h2 {
  color: $DARK;
  font-size: 28px;
  font-weight: 100;
  font-family: $RIGHTEOUS;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}
h4 {
  color: $DARK;
  font-size: 22px;
  font-weight: 600;
  @media screen and (max-width: 1024px) {
    font-size: 19px;
  }
}
h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: $MONTSERRAT;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
h6 {
  // color: $GRAY_SHADE3;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
}

// span {
//   // color: $GRAY_SHADE1;
// }

p {
  font-size: 18px;
  font-weight: 100;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  font-family: $MONTSERRAT;
}

button,
a,
label {
  cursor: pointer;
  margin-bottom: 0;
  font-family: $MONTSERRAT;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $MONTSERRAT;
}
.mainWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  margin: 20px;
  background-color: red;

  @include mq(tablet-portrait-large-up) {
    padding: 10px 10px 0 10px;
    background-color: red;
  }
}
