@import "../css/content/font.styles.scss";
@import "./constants/base/colors.scss";
@import "./constants/base/";
@import "./content/";

body,
html {
  background-color: $WHITE;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // font-family: $MONTSERRAT;
  font-family: $Gotham_Medium;
  font-weight: 100;
  overflow-y: auto;
  @include scrollbars();

  @include mq(tablet-portrait-large-up) {
    background-color: $WHITE;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: $DARK_SHADE1;
  font-weight: 100;
}

h1 {
  font-size: 28px;
  // font-weight: 600;
  font-family: $Gotham_Medium;
  padding-right: 10px;

  @include mq(tablet-portrait-large-up) {
    font-size: 24px;
  }
}

h2 {
  font-size: 26px;

  @include mq(tablet-portrait-large-up) {
    font-size: 25px;
  }
}

h4 {
  font-family: $Gotham_Medium;
  font-size: 19px;
  font-weight: 600;

  @include mq(tablet-portrait-large-up) {
    font-size: 17px;
  }
}

h5 {
  font-family: $Gotham_Light;
  font-weight: 600;
  // opacity: 0.85;
  font-size: 17px;

  @include mq(tablet-portrait-large-up) {
    font-size: 15px;
  }
}

h6 {
  // color: $GRAY_SHADE3;
  font-size: 15px;
  font-family: $Gotham_Light;
  line-height: 12px;
}

// span {
//   color: $GRAY_SHADE2 !important;
//   font-size: 14px !important;
//   font-family: $Gotham_Light !important;
// }

p {
  font-family: $Gotham_Light;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  @include mq(tablet-portrait-large-up) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  font-family: $Gotham_Light;
}

button,
label {
  cursor: pointer;
  margin-bottom: 0;
  // font-family: $MONTSERRAT;
  font-family: $Gotham_Light;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  // font-family: $MONTSERRAT;
  font-family: $Gotham_Medium;
}

.mainWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  margin: 20px;
  background-color: red;

  @include mq(tablet-portrait-large-up) {
    padding: 10px 10px 0 10px;
    background-color: red;
  }
}

.common-top-padding {
  padding: 30px 60px 0 60px;
}

.common-bottom-padding {
  padding: 0 60px 30px 60px;
}

.d-none {
  display: none;
}

.text-error {
  color: $WARNING;
  font-size: 13px !important;
  margin-bottom: 10px !important;
  // font-weight: 600 !important;
  display: flex;
  margin-left: 15px;
  margin-top: 5px !important;
}

.text-success {
  color: $GREEN;
  font-size: 13px !important;
  margin-bottom: 10px !important;
  // font-weight: 600 !important;
  display: flex;
  margin-left: 15px;
  margin-top: 5px !important;
}