// -------------colors ------------//
$DARK: #394053;
// $DARK_SHADE1: #262a32;
$BLACK: #000;
$WHITE: #ffffff;
$BLUE: #2c6fed;
$GRAY_SHADE8: #394053;
$LIGHT_GRAY: #eaeaea4a;
$GREEN: #20a258;
$ORANGE: #fc8434;