.MuiDialog-root .MuiDialogContent-dividers {
  border-bottom: 0;
}

/* * {
  font-family: "Century Gothic" !important;
} */

.select-meeting.MuiDialog-root .MuiDialogContent-dividers,
.edit-profile.MuiDialog-root .MuiDialogContent-dividers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.add-document .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed lightgray;
  margin-top: 20px;
  padding: 30px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dialog-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
}

.dialog-heading h6 {
  font-weight: 600;
}

.dialog-input {
  padding: 15px 26px 15px 12px;
  border: 1px solid lightgray;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  color: #494949;
}

.add-document .dialog-input,
.add-meeting .dialog-input {
  background-color: #efefef;
}

.add-faq-dialog .dialog-input {
  margin-top: 26px;
}

.add-faq-dialog .error,
.add-document .error {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.dialog-select-input {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 15px 26px 15px 12px;
  color: #494949;
  background-color: white;
}

.dialog-textarea-input {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 15px 26px 15px 12px;
  color: #494949;
  background-color: white;
  height: 100px;
  outline: none;
}

.add-document .image-box {
  background-color: #efefef;
}

.add-document .image-box p {
  margin-top: 10px;
}

.add-document .file-name {
  word-break: break-all;
  color: #2b6fec;
  font-weight: bold;
}

.delete-document .MuiDialogContent-root {
  padding: 10px 0;
}

.add-faq-dialog .dialog-textarea-input {
  margin-top: 26px;
}

.dialog-button-group {
  flex-direction: row;
}

.delete-dialog .comment-image {
  margin-bottom: 10px;
}

.delete-dialog h6 {
  margin-bottom: 15px;
  font-weight: 600;
}

.delete-dialog p {
  color: gray;
}

.dialog-button-group button {
  width: 150px;
}

.delete-document .MuiDialogContent-root {
  margin: 20px;
}

.delete-document .MuiDialogContent-root img,
.cancel-meeting-dialog .MuiDialogContent-root img,
.schedule-dialog .MuiDialogContent-root img,
.save-lease img {
  margin-bottom: 20px;
}

.delete-document h6,
.cancel-meeting-dialog h6,
.schedule-dialog h6,
.save-lease h6 {
  margin-bottom: 10px;
  font-weight: 600;
}

.delete-document p,
.cancel-meeting-dialog p,
.schedule-dialog p,
.save-lease p {
  margin-bottom: 18px;
  color: gray;
}

.delete-document .dialog-button-group,
.cancel-meeting-dialog .dialog-button-group,
.delete-dialog .dialog-button-group {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.delete-document .dialog-button-group button,
.delete-dialog .dialog-button-group button {
  width: 200px;
}

.resolutions .choose-meeting {
  border: 1px dashed #2b6fec;
  color: #2b6fec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.resolutions .change-meeting {
  border: 1px solid #2b6fec;
  color: #2b6fec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.resolutions .change-meeting span:first-child {
  color: black;
}

.resolutions .change-meeting span:last-child {
  cursor: pointer;
}

.select-meeting .list-heading span {
  font-weight: 600;
}

.select-meeting .dialog-button-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 24px;
}

.select-meeting .dialog-button-group .selected-meeting {
  font-weight: 600;
}

.select-meeting .dialog-button-group .button-group button {
  margin-left: 10px;
}

.szh-menu-container ul {
  left: -100px !important;
  top: -20px !important;
}

.filter-menu.szh-menu-container ul {
  left: -139.562px !important;
  top: 20px !important;
}

.sort-menu.szh-menu-container ul {
  left: -100px !important;
  top: 25px !important;
}

.chairman-top-menu.szh-menu-container ul {
  left: -190px !important;
  top: 45px !important;
  width: 180px;
}

.chairman-lang-menu.szh-menu-container ul {
  left: -47.475px !important;
  top: 12px !important;
}

.chairman-lang-menu.szh-menu-container li.active {
  color: #fc8434;
}

.attendee-menu.szh-menu-container ul {
  left: -114.75px !important;
  top: -97px !important;
}

.szh-menu-container ul li {
  padding: 8px 32px;
  display: block;
  background-color: white;
  min-height: 38px;
}

.chairman-top-menu.szh-menu-container ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.MuiMenu-list .MuiListItem-root {
  padding: 6px 16px !important;
  display: flex !important;
  position: relative !important;
  text-align: left !important;
  align-items: center !important;
  justify-content: flex-start !important;
  text-decoration: none !important;
}

.share-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 18px 36px;
}

.share-box button svg {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.personal .dialog-button-group {
  flex-direction: column;
}

.personal .dialog-button-group button:first-child {
  background-color: #2b6fec;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
}

.personal .dialog-button-group button:last-child {
  margin-top: 10px;
  background-color: white;
  color: darkgray;
  border: 0;
}

.select-meeting .MuiListItemText-root {
  max-width: 275px;
}

.MuiDialog-root .dialog-button-group .add-button {
  background-color: #2b6fed;
  color: white;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 175px;
  font-weight: 600;
}

.MuiDialog-root .dialog-button-group {
  padding: 16px 24px;
}

.MuiDialog-root .dialog-button-group .add-button.Mui-disabled {
  background-color: #d9d9d9;
  color: gray;
}

.MuiDialog-root .dialog-button-group .cancel-button {
  border: 1px solid #2b6fed;
  background-color: white;
  color: #2b6fed;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  width: 175px;
  font-weight: 600;
}

.delete-document .dialog-button-group .cancel-button {
  margin-right: 20px;
}

.save-lease .MuiDialogContent-root {
  padding: 30px;
  padding-top: 30px !important;
}

.save-lease .MuiDialogActions-root,
.penalty-dialog .MuiDialogActions-root {
  justify-content: center;
  align-items: center;
}

.save-lease .dialog-button-group .add-button,
.penalty-dialog .dialog-button-group .add-button {
  border-radius: 25px;
}

.penalty-dialog .dialog-button-group .add-button {
  width: 100%;
}

.penalty-dialog .dialog-button-group {
  padding: 10px 0 20px 0;
}

.penalty-dialog .select-with-icon {
  margin: 20px 0;
  background-color: #efefef;
  border-radius: 25px;
}

.penalty-dialog .select-with-icon .MuiListItemIcon-root {
  min-width: 30px;
}

.penalty-dialog .select-input {
  border-radius: 25px;
  padding: 12px 15px;
  background-color: #efefef;
  margin-bottom: 15px;
}

.penalty-dialog .select-input::before,
.penalty-dialog .select-input:hover,
.penalty-dialog .select-input::after {
  border: 0;
  outline: none;
  transition: none;
  content: none;
}

.penalty-dialog .select-input .MuiInputAdornment-positionStart {
  margin-right: 20px;
}

.add-meeting .date-time .MuiInput-underline:before,
.add-meeting .dialog-select-input:before,
.add-meeting .date-time .MuiInput-underline:after,
.add-meeting .dialog-select-input:after,
.add-meeting .dialog-input::after,
.add-meeting .dialog-input::before {
  content: "";
  border: 0;
  outline: none;
  position: unset;
}

.add-meeting .date-time {
  display: flex;
  background-color: #efefef;
  align-items: center;
  border: 1px solid lightgray;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 20px;
}

.add-meeting .date-time input.date {
  width: 100%;
  border: 0;
  outline: none;
  background: #efefef;
  padding: 4px 0;
  min-height: 32px;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}

.add-meeting .reject-note {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 15px 26px 15px 12px;
  color: #494949;
  background-color: white;
  min-height: 150px !important;
  outline: none;
  margin-top: 20px;
}

.add-meeting .date-time input[type="date"]::-webkit-calendar-picker-indicator,
.add-meeting .date-time input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/calender.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

.add-meeting .date-time input[type="time"]::-webkit-calendar-picker-indicator {
  background: url(../assets/time.png) no-repeat;
}

.add-meeting .dialog-input {
  margin-top: 15px;
  border-radius: 8px;
  padding: 8px 12px;
}

.add-meeting .dialog-textarea {
  margin-top: 15px;
  border-radius: 8px;
  padding: 8px 12px;
  height: 100px !important;
  border: 1px solid lightgray;
  outline: none;
  background-color: #efefef;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}

.add-meeting .dialog-select-input {
  background-color: #efefef;
  margin-top: 15px;
  padding: 8px 12px;
}

.add-meeting .MuiSelect-select.MuiSelect-select {
  background-color: #efefef;
}

.add-meeting .dialog-textarea-input {
  height: 200px !important;
}

.add-meeting .invitee-list {
  height: 26px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 15px;
  color: gray;
  margin-top: 15px;
  cursor: pointer;
}

.add-meeting .create-audience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 8px;
}

.add-meeting .create-audience span {
  color: #fc8434;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.add-meeting .attendee-box {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 6px;
  flex-wrap: wrap;
}

.add-meeting .attendee-box .attendee {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 1px solid #a6a6a6;
  gap: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #a6a6a6;
  cursor: pointer;
}

.add-meeting .attendee-box .attendee span {
  padding: 10px 0 10px 0;
  font-size: 14px;
}

.add-meeting .attendee-box .attendee img {
  padding: 0 5px;
}

.add-meeting .attendee-box .attendee.active {
  border-color: #2b6fec;
  color: #2b6fec;
}

.add-meeting .szh-menu-container.attendee-menu li {
  color: black;
}

.add-meeting .MuiDialogContent-dividers {
  padding-top: 0 !important;
}

.select-meeting.scheduled-meeting .button-group .dialog-input {
  padding: 6px 12px;
  background-color: #f0f0f0;
}

.select-meeting.scheduled-meeting .button-group {
  display: flex;
  align-items: center;
}

.select-meeting .MuiListItemIcon-root .MuiCheckbox-root {
  padding: 0;
}

.select-meeting.scheduled-meeting .button-group .MuiInput-underline:before,
.select-meeting.scheduled-meeting .button-group .MuiInput-underline:after,
.select-meeting.scheduled-meeting .filter .MuiInput-underline:before,
.select-meeting.scheduled-meeting .filter .MuiInput-underline:after {
  content: "";
  border: 0;
  outline: none;
  position: unset;
}

.select-meeting.scheduled-meeting td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-meeting.scheduled-meeting th {
  font-weight: 600;
}

.select-meeting.scheduled-meeting .filter {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-y: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

.select-meeting.scheduled-meeting .MuiTableCell-root {
  border-bottom: 0;
}

.select-meeting.scheduled-meeting .MuiTableRow-root {
  border-bottom: 1px solid #f4f4f4;
}

.select-meeting.scheduled-meeting .filter .dialog-select-input {
  width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  font-weight: 400;
  background-color: white;
}

.select-meeting.scheduled-meeting .filter .MuiSelect-root {
  background-color: white;
}

.select-meeting.scheduled-meeting .filter .filter-button {
  background-color: #2b6fed;
  color: white;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-weight: 600;
}

.select-meeting.scheduled-meeting .selected-meeting h4 span {
  color: #fc8434;
}

.select-meeting.scheduled-meeting tr .MuiCheckbox-colorSecondary.Mui-checked {
  color: #fc8434;
}

.schedule-dialog .dialog-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-dialog .dialog-button-group button.add-button {
  border-radius: 25px !important;
}

.schedule-dialog .radio-select {
  width: 90%;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  padding: 6px;
  margin: 5px 0;
}

.schedule-dialog .attendee-heading {
  padding-bottom: 0;
  text-align: right;
}

.schedule-dialog .choice-box {
  align-items: center;
}

.schedule-dialog .choice-box .active.radio-select .MuiTypography-root {
  color: #2b6fec;
  font-weight: 600;
}

.edit-profile .profile-picture {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.edit-profile .profile-picture p {
  cursor: pointer;
}

.add-meeting input::placeholder,
.add-meeting textarea::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.add-meeting input:-ms-input-placeholder,
.add-meeting textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.add-meeting input::-ms-input-placeholder,
.add-meeting textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.edit-profile .profile-picture .picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.edit-profile .profile-picture .picture.building {
  border: 2px solid lightgray;
}

.edit-profile .profile-picture .no-picture {
  border-radius: 50%;
  padding: 20px;
  background-color: #e3edff;
}

.edit-profile .profile-picture p {
  margin-top: 8px;
  color: #fc8434;
  font-weight: 600;
}

.edit-profile .profile-top {
  padding: 20px 50px;
}

.edit-profile .input-with-icon {
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 15px;
}

.edit-profile .mobile-box {
  display: flex;
  height: 100%;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.edit-profile .mobile-box .MuiSelect-select.MuiSelect-select {
  padding: 0 28px 0 20px;
}

.edit-profile .mobile-box .MuiListItemIcon-root {
  min-width: 20px;
}

.edit-profile .mobile-box .input.MuiInputBase-root {
  padding-left: 15px;
  border-left: 1px solid #aaaaaa;
}

.edit-profile .MuiInput-underline:after {
  content: "";
  border: 0;
  position: unset;
}

.edit-profile .MuiInput-underline:before {
  content: "";
  border: 0;
  position: unset;
}

.condition-modal .MuiDrawer-paper {
  padding: 0 20px;
}

.condition-modal .button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.condition-modal .button-group .add-more-button {
  border: 1px solid #2b6fed;
  background-color: white;
  color: #2b6fed;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-weight: 600;
  min-width: 300px;
}

.condition-modal .button-group .add-button {
  background-color: #2b6fed;
  color: white;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  min-width: 300px;
}

.condition-modal .condition-box .content-box {
  margin: 10px 0;
}

.condition-modal .condition-box h2 {
  margin: 20px 0;
}

.condition-modal .condition-box h2,
.condition-modal .condition-box h4 {
  font-weight: 600;
}

.condition-modal .condition-box .condition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.condition-modal .condition-box .condition > span {
  padding: 5px !important;
}

.condition-modal .condition-box .condition .condition-check {
  color: orange;
}

.go2072408551 {
  border-radius: 10px !important;
  background-color: #333 !important;
  color: #fff !important;
}

.error {
  color: red;
}

.add-document.resolutions .dialog-select-input,
.add-document.resolutions .dialog-textarea-input {
  background-color: #efefef;
  margin-top: 15px;
}

::-webkit-scrollbar {
  height: 5px;
}

.chairman-logout .dialog-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.chairman-logout .dialog-button-group button.close {
  background-color: white;
  border-radius: 8px;
  color: #2b6fec;
  font-weight: 600;
  border: 2px solid #2b6fec;
  padding: 12px 30px;
}

.chairman-logout .dialog-button-group button.logout {
  background-color: #2b6fec;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: 1px solid #2b6fec;
  padding: 12px 30px;
  margin: 0;
}

.edit-building .upload-photo {
  height: 120px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 2px dashed lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-building .building-image img {
  height: 120px;
  width: 200px;
  border-radius: 8px;
}

.edit-building .building-image {
  position: relative;
}

.edit-building .building-image .delete-image {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.edit-building label {
  margin-bottom: 8px;
  color: black;
}

.edit-building .about-us {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 15px 26px 15px 12px;
  color: #494949;
  background-color: #f9f9f9;
  min-height: 150px !important;
  outline: none;
  width: 100%;
}

.edit-building .select-box .MuiSelect-root {
  border: 1px solid #c6c6c6;
  border-radius: 8px !important;
  background-color: #f9f9f9;
  padding: 15px;
}

.edit-building .select-box .MuiListItemIcon-root {
  min-width: 30px;
}

.edit-building .input-with-icon {
  padding: 10px;
}

.google-map-box {
  width: 100%;
  height: 500px;
}

.no-google-map-box {
  padding: 0 24px 16px;
}

.edit-profile form {
  margin: 0;
}

.edit-profile.edit-unit.MuiDialog-root .MuiDialogContent-dividers {
  border-bottom: 0;
}

.floor-plan-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 5px 26px 5px 5px;
  height: 42px;
  border: 1px solid #c6c6c6;
}

.floor-plan-box .MuiChip-root {
  background: white;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  color: black;
  height: 100%;
}

.floor-plan-box img {
  cursor: pointer;
}

.floor-plan-box .MuiChip-root img {
  width: 15px;
  height: 15px;
  margin: 0 12px 0 -6px;
}

.floor-plan-box .MuiChip-root span {
  margin-right: 12px;
  font-size: 14px;
}

.floor-plan-box .placeholder {
  color: darkgray;
  padding-left: 5px;
}

.edit-family-modal .MuiInput-root::before,
.edit-family-modal .MuiInput-root::after {
  content: "";
  border: 0;
  position: unset;
}

.edit-family-modal .MuiInput-root {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding: 10px;
  color: #494949;
  background-color: #efefef;
}

.edit-family-modal .MuiSelect-root {
  background-color: #efefef !important;
}

.edit-family-modal input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.edit-family-modal input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.edit-family-modal input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.ril__navButtons {
  width: 135px !important;
  height: 135px !important;
}
.ril-prev-button {
  background: url("../assets/prev-image-icon.png") !important;
  left: 10% !important;
}
.ril-next-button {
  background: url("../assets/next-image-icon.png") !important;
  right: 10% !important;
}

.edit-unit .past-date {
  position: relative;
}

.edit-unit .past-date .input-with-icon {
  width: 100%;
  outline: none;
  padding-left: 36px;
  height: 54px;
  font-size: 16px;
}

.edit-unit .past-date img {
  position: absolute;
  top: 15px;
  left: 10px;
}
